# This is Git's per-user configuration file.
[user]
	name = Holland Gibson
	email = holland@hollandgibson.com
	signingkey = /Users/hollandgibson/.ssh/secretive.github.pub

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true
	# side-by-side = true

[interactive]
    diffFilter = delta --color-only

[core]
	excludesfile = /Users/hollandgibson/.gitignore_global
	pager = less -F -X

[pull]
	rebase = true

[push]
	AutoSetupRemote = true
	default = simple

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main

[credential]
	helper = store
[commit]
	gpgSign = 1
[gpg]
	format = ssh
[branch]
	autosetupmerge = always
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[rerere]
	enabled = true
[alias]
	staash = stash --all
[column]
	ui = auto
