.DS_Store

nixos/*.log

# secrets here
rclone.conf
scw/config.yaml
*.secret

asciinema/install-id
broot/launcher
byobu/.ssh-agent
fish/completions
fish/conf.d
fish/fish_variables
fish/fish_variables
fish/functions
helix/runtime
iterm2/AppSupport
packer
packer/checkpoint*
yarn
zed/**/*.mdb
zed/.tmp*
restic/log.txt
restic/error.log
yt-dlp/archive.txt
