.DS_Store

# secrets here
rclone.conf
scw/config.yaml

asciinema/install-id
broot/launcher
byobu/.ssh-agent
fish/completions
fish/conf.d
fish/fish_variables
fish/fish_variables
fish/functions
helix/runtime
iterm2/AppSupport
packer
packer/checkpoint*
zed/.tmp*
