<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
         "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.hollandgibson.daily-backup</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/hollandgibson/.config/restic/backup.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>5</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/hollandgibson/.config/restic/log.txt</string>
    <key>StandardErrorPath</key>
    <string>/Users/hollandgibson/.config/restic/error.log</string>
    <key>RunAtLoad</key>
    <true/>
    <key>Nice</key>
    <integer>20</integer>
</dict>
</plist>
