layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        pane
    }
    cwd "/home/ghgibson/Developer/optix_edge"
    tab name="lib" cwd="lib" focus=true
    tab name="containers" cwd="containers"
    // tab name="blue-optix" cwd="blue-optix"
    tab name="cmcc" cwd="deployments/cmcc"
    tab name="crusher" cwd="deployments/crusher"
}
